*{box-sizing: border-box;margin: 0; padding: 0; font-family: Arial, Georgia, 'Times New Roman', serif; letter-spacing: 1px;}
/* Variables */
:root {
    --dark-blue: #0E316A;
    --blue: #007FEB;
    --light-blue: #BCE0FD;
    --white: #F1F9FF;
    --gray: #F2F2F2;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    line-height: 1.5;
}

p.quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
}

p.large {
    font-weight: bold;
    font-size: 14px;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

p.sek {
    font-size: 12px;
}
p.placeholder {
    font-style: italic;
    font-size: 12px;
}

p.button {
    font-weight: bold;
    font-size: 10px;
}

/* Header */

header {
    background-color: var(--blue);
}
header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
}

header figure {}

header figure svg {
    display: block;
    margin: auto;
    width: 90%;
    padding: 15px 15px;
}

header figure svg#Layer_1 path {
    fill: var(--white);
}

header hr {
    color: var(--white);
    border: solid 2px;
}

header ul {
    list-style: none;
}

header ul li {
    width: 100%;
    text-align: center;
    padding: 10px;
}

header ul li a {
    display: flex;
    color: var(--white);
    font-size: 1rem;
    text-decoration: none
}

header ul li a i.fas {
    min-width: 80px;
}

header ul li a i.fab {
    min-width: 80px;
}

/* Header END */

/* Footer */

footer#footer {
    background: var(--dark-blue);
    color: var(--white);
    grid-area: footer;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100%;
    grid-template-areas:
    "adresse info hours social"
}

footer#footer #adresse, #info, #hours, #dato, #social {
    margin: auto auto;
}

footer#footer #adresse {
    grid-area: adresse;
}

footer#footer #info {
    grid-area: info;
}

body#forside .grid footer#footer #hours {
    grid-area: hours;
}

body#forside .grid footer#footer #social {
    grid-area: social;
}

footer#footer p.large {
    padding-bottom: 20px;
}
footer#footer #social i {
    -webkit-text-fill-color: var(--white);
}

/* Footer END */

/* Artikel */

#Artikel {
   
}

#Artikel .grid {
    display: grid;
    grid-template-columns: 15% 25% 1fr;
    grid-template-rows: 1fr 1fr 15%;
    grid-template-areas: 
    "header nav article article"
    "header nav article article"
    "footer footer footer footer";
    grid-gap: 5px;
}

#Artikel .grid header {
    grid-area: header;
}

#Artikel .grid nav {
    grid-area: nav;
}

#Artikel .article-nav {}

#Artikel .article-nav ul {}

#Artikel .article-nav li {}

#Artikel .article-nav figure.img img{
    width: 100%;
}

#Artikel .article-nav footer {}

#Artikel .article-nav footer figure {}

#Artikel .article-nav footer figure i.fas {}

#Artikel .article-nav footer figcaption {}


#Artikel .grid article {
    grid-area: article;
}

#Artikel #article-wrapper {}

#Artikel #article-wrapper figure {}

#Artikel #article-wrapper figure img {
    width: 100%;
}


#Artikel .grid footer#footer {
    grid-area: footer;
    background-color: var(--dark-blue);
}

/* Artikel END */

/* Forside */
body#forside .grid {
    display: grid;
    grid-auto-columns: 15% 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 15%;
    grid-template-areas:
    "header main main main"
    "header main main main"
    "header main main main"
    "footer footer footer footer "
}
body#forside .grid header{
    grid-area: header;
}

body#forside .grid main{
    grid-area: main;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "vid vid vid"
    "vid vid vid"
    "main main main"
}

body#forside .grid main #video {
    grid-area: vid;
}

body#forside .grid main video {
    width: 100%;
}

body#forside .grid main #video .text {
    position: relative;
    top: -50%;
    text-align: center;
    color: var(--white)
}

body#forside .grid main .info {
    grid-area: main;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100%;
    grid-template-areas:
    "main1 main2 main3"
}

body#forside .grid main .info .box {
    margin: auto;
}

body#forside .grid main .info #box1 {
    grid-area: main1;
}

body#forside .grid main .info #box2 {
    grid-area: main2;
}

body#forside .grid main .info #box3 {
    grid-area: main3;
}

body#forside .grid main .info h2 {
    border-top: solid 3px var(--dark-blue);
    border-bottom: solid 3px var(--dark-blue);
    text-align: center;
    margin-bottom: 20px;
}

body#forside .grid main .info .box p:last-of-type {
    margin-bottom: 20px;
}

body#forside .grid main .info a{
    text-decoration: none;
    color: var(--dark-blue);
}

body#forside .grid main .info a i {
    margin-right: 5px;
}