*{box-sizing: border-box;margin: 0; padding: 0; font-family: Arial, Georgia, 'Times New Roman', serif; letter-spacing: 1px;}
/* Variables */
:root {
    --dark-blue: #0E316A;
    --blue: #007FEB;
    --light-blue: #BCE0FD;
    --white: #F1F9FF;
    --gray: #F2F2F2;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    line-height: 1.5;
}

p.quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
}

p.large {
    font-weight: bold;
    font-size: 14px;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

p.sek {
    font-size: 12px;
}
p.placeholder {
    font-style: italic;
    font-size: 12px;
}

p.button {
    font-weight: bold;
    font-size: 10px;
}
/* header */

.grid header {
    display: block;
}

header ul {}

header ul li {}

header ul li i {}

header ul li i.fas {}

header ul li i.fab {}

.grid header ul li i.fas a {
    text-decoration: none;
}

.grid header ul li i.fab a {
    text-decoration: none;
}