*{box-sizing: border-box;margin: 0; padding: 0; font-family: Arial, Georgia, 'Times New Roman', serif; letter-spacing: 1px;}
/* Variables */
:root {
    --dark-blue: #0E316A;
    --blue: #007FEB;
    --light-blue: #BCE0FD;
    --white: #F1F9FF;
    --gray: #F2F2F2;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    line-height: 1.5;
}

p.quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
}

p.large {
    font-weight: bold;
    font-size: 14px;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

p.sek {
    font-size: 12px;
}
p.placeholder {
    font-style: italic;
    font-size: 12px;
}

p.button, tr {
    font-weight: bold;
    font-size: 10px;
    text-align: left;
}

/* Header */

header {
    background-color: var(--blue);
}
header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
}

header figure svg {
    display: block;
    margin: auto;
    width: 90%;
    padding: 15px 15px;
}

header figure svg#Layer_1 path {
    fill: var(--white);
}

header hr {
    color: var(--white);
    border: solid 2px;
}

header ul {
    list-style: none;
}

header ul li {
    width: 100%;
    text-align: center;
    padding: 10px;
}

header ul li a {
    display: flex;
    color: var(--white);
    font-size: 1rem;
    text-decoration: none
}

header ul li a i.fas {
    min-width: 80px;
}

header ul li a i.fab {
    min-width: 80px;
}

/* Header END */

body {
    background: var(--white);
}

/* Footer */

footer#footer {
    background: var(--dark-blue);
    color: var(--white);
    grid-area: footer;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100%;
    grid-template-areas:
    "adresse info hours social"
}

footer#footer #adresse, .info, #hours, #dato, #social {
    margin: auto auto;
}

footer#footer #adresse {
    grid-area: adresse;
}

footer#footer .info {
    grid-area: info;
}

body#forside .grid footer#footer #hours {
    grid-area: hours;
}
body#forside .grid footer#footer #hours tr {
    padding: 10px;
}

body#forside .grid footer#footer #social {
    grid-area: social;
}

footer#footer p.large {
    padding-bottom: 20px;
}
footer#footer #social i {
    -webkit-text-fill-color: var(--white);
    padding: 15px;
}

/* Footer END */

/* Artikel */

#Artikel .grid {
    display: grid;
    grid-template-columns: 15% 25% 1fr;
    grid-template-rows: 1fr 1fr 15%;
    grid-template-areas: 
    "header nav article article"
    "header nav article article"
    "footer footer footer footer";
    grid-gap: 5px;
}

#Artikel .grid header {
    grid-area: header;
}

#Artikel .grid nav {
    grid-area: nav;
}

#Artikel .article-nav li {
    padding: 10px;
    list-style: none;
}

#Artikel .article-nav figure.img img{
    width: 100%;
    border: 5px solid #e7e5e5;
    border-radius: 5px;
}

#Artikel .grid article {
    grid-area: article;
}

#Artikel #article-wrapper figure img {
    width: 100%;
    padding: 10px;
}

#Artikel .grid footer#footer {
    grid-area: footer;
}

#Artikel .grid article #article-wrapper p.large {
    font-size: 20px;
    padding: 10px 30px;
}

#Artikel .grid p {
    padding: 10px;
}

#Artikel .grid h1 {
    padding-top: 10px;
    text-align: center;

}

#Artikel .grid h2 {
    padding-top: 5px;
}

/* Artikel END */

/* Forside */
body#forside .grid {
    display: grid;
    grid-auto-columns: 15% 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 15%;
    grid-template-areas:
    "header main main main"
    "header main main main"
    "header main main main"
    "footer footer footer footer "
}
body#forside .grid header{
    grid-area: header;
}

body#forside .grid main{
    grid-area: main;
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "vid vid vid"
    "vid vid vid"
    "main main main"
}

body#forside .grid main #video {
    grid-area: vid;
}

body#forside .grid main video {
    width: 100%;
}

body#forside .grid main #video .text {
    position: relative;
    top: -50%;
    text-align: center;
    color: var(--white)
}
body#forside .grid main #video .text i {
    margin-top: 50px;
    font-size: 40px;
}

body#forside .grid main .desc {
    grid-area: main;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: var(--dark-blue);
}

body#forside .grid main .desc img {
    margin: 10px;
    width: 30%;
}

/* Tema */

/* grid */
#Tema .grid {
    display: grid;
    grid-template-columns: 15% 25% 1fr;
    grid-template-rows: 1fr 1fr 15%;
    grid-template-areas: 
    "header nav article article"
    "header nav article article"
    "footer footer footer footer";
    grid-gap: 5px;
}

/* header */
#Tema .grid header {
    grid-area: header;
}

/* Footer */
#Tema .grid footer {
    grid-area: footer;
}

/* Tema END */

/* Footer */

body#galleri .grid {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 15%;
    grid-template-areas:
    "header img1 img 1 img2 img2"
    "header img3 img3 img4 img5"
    "header img3 img3 img6 img7"
    "footer footer footer footer footer"
}

/* Footer END */